.navbar {
  background-color: rgba(250, 52, 85, 0.992) !important;
  animation: fadeIn 1.5s ease-in-out;
}

.navbar .navbar-brand {
  color: #f8f7f9 !important;
  font-weight: bold;
  font-size: 1.5rem;
}

.nav-link {
  font-size: 1.2rem;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #122b69 !important;
}
