/* Register Page */
.register-page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(-90deg, #047693, #ef7ba9, #f34780, #fb1955);
  background-size: 400% 400%;
  animation: gradientBG 10s ease infinite;
}

@keyframes gradientBG {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.register-form {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px;
  width: 30%;
  border-radius: 10px;
  animation: floatEffect 3s infinite ease-in-out;
}

@keyframes floatEffect {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-5px); }
}

.register-form h2 {
  text-align: center;
  font-weight: bold;
  color: #480599;
}

.register-form button {
  background-color: #127593;
  color: white;
  transition: all 0.3s;
}

.register-form button:hover {
  background-color: #6c3483;
}